attrs==24.2.0
beautifulsoup4==4.12.2
blinker==1.8.2
Bottleneck
certifi
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
et_xmlfile==2.0.0
exceptiongroup==1.2.2
Flask==2.3.2
h11==0.14.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.2
MarkupSafe==3.0.2
numexpr
numpy
openpyxl==3.1.2
outcome==1.3.0.post0
packaging
pandas
plotly==5.24.1
prettytable==3.12.0
pycparser==2.22
pyecharts==2.0.3
pyparsing
PySocks==1.7.1
python-dateutil
pytz==2021.3
requests==2.31.0
selenium==4.9.1
simplejson==3.19.3
six
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
tenacity==9.0.0
tqdm==4.65.0
trio==0.27.0
trio-websocket==0.11.1
urllib3==2.2.3
wcwidth==0.2.13
Werkzeug==3.1.2
wincertstore==0.2
wsproto==1.2.0
