<!-- templates/doctor_dashboard.html -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Doctor Dashboard</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<script
			crossorigin
			src="https://unpkg.com/react@17/umd/react.development.js"
		></script>
		<script
			crossorigin
			src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"
		></script>
		<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/antd/4.24.16/antd.min.css"
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/antd/4.24.16/antd.min.js"
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<link rel="stylesheet" href="/static/assets/css/font-awesome.css" />
		<script src="/static/assets/js/plotly-latest.min.js"></script>
		<style>
			html,
			body {
				margin: 0;
				padding: 0;
				background: #fafafa;
			}

			html {
				width: 100vw;
				height: 100vh;
			}

			#doctor_dashboard_root {
				height: 100%;
			}
		</style>
	</head>
	<body>
		<div id="doctor_dashboard_root"></div>
	</body>
	<script type="text/babel">
		const Welcome = () => {
			const [] = React.useState();

			return (
				<div className="text-2xl">
					On this website, you can upload CSV and NII.GZ files to
					manage your cases
				</div>
			);
		};
	</script>
	<script type="text/babel">
		const FmriImageUpload = () => {
			return <div>fmri_image_upload</div>;
		};
	</script>
	<script type="text/babel">
		const ImageData = (props) => {
			const { imageName } = props;
			const [index, setIndex] = React.useState(0);
			const iframeContents = React.useRef([]);
			const tooltip = {
				formatter: (value) => `Image ${value}`
			};

			const setIframeContent = (content) => {
				const iframe = document.getElementById('dynamic-iframe');
				const iframeDocument =
					iframe.contentDocument || iframe.contentWindow.document;

				// 将HTML内容注入到iframe中
				iframeDocument.open();
				iframeDocument.write(content);
				iframeDocument.close();
			};
			const createIframeContentQuery = async (index) => {
				try {
					const res = await fetch(
						'/api/query_fmri_image_html_content',
						{
							method: 'POST',
							headers: {
								'content-type': 'application/json'
							},
							body: JSON.stringify({
								index,
								image_name: imageName.split('.nii.gz')[0]
							})
						}
					);
					if (res.ok) {
						const htmlContent = await res.text();

						return htmlContent;
					}
				} catch (error) {
					antd.message.error(error.toString());
				}

				return '';
			};

			React.useEffect(() => {
				Promise.all(
					Array(6)
						.fill(null)
						.map((_, index) => createIframeContentQuery(index))
				).then((data) => {
					iframeContents.current = data;
					setIframeContent(data[0]);
				});
			}, []);

			React.useEffect(() => {
				setIframeContent(iframeContents.current[index]);
			}, [index]);

			return (
				<div className="mt-4 group relative">
					<iframe
						id="dynamic-iframe"
						width="100%"
						height="469px"
						frameborder="0"
					></iframe>
					<div
						className="opacity-0 group-hover:opacity-100 transition absolute h-10 w-10 flex justify-center items-center bg-[rgba(255,255,255,0.7)] top-[50%] translate-y-[-50%] left-6 rounded-full cursor-pointer"
						onClick={() => {
							if (index > 0) {
								setIndex((c) => c - 1);
							}
						}}
					>
						<i
							class="fa fa-angle-left text-3xl"
							aria-hidden="true"
						></i>
					</div>
					<div
						className="opacity-0 group-hover:opacity-100 transition absolute h-10 w-10 flex justify-center items-center bg-[rgba(255,255,255,0.7)] top-[50%] translate-y-[-50%] right-6 rounded-full cursor-pointer"
						onClick={() => {
							if (index < iframeContents.current.length - 1) {
								setIndex((c) => c + 1);
							}
						}}
					>
						<i
							class="fa fa-angle-right text-3xl"
							aria-hidden="true"
						></i>
					</div>
					<antd.Slider
						value={index + 1}
						onChange={(value) => setIndex(value - 1)}
						max={6}
						min={1}
						tooltip={tooltip}
					/>
				</div>
			);
		};
		const CsvData = ({ filename }) => {
			const [loading, setLoading] = React.useState(false);
			const [result, setResult] = React.useState({ list: [], total: 0 });
			const [selectedColumn, setSelectedColumn] = React.useState('');
			const columns =
				Object.keys(result.list[0] || {}).map((key) => ({
					title: key,
					dataIndex: key,
					width: 150,
					key
				})) || [];
			const scroll = { x: columns.length * 150, y: 300 };
			const pagination = {
				current: 1,
				pageSize: 10,
				total: result.total,
				position: ['none', 'none']
			};

			React.useEffect(() => {
				fetch('/api/query_csv_data', {
					method: 'POST',
					headers: {
						'content-type': 'application/json'
					},
					body: JSON.stringify({ filename })
				})
					.then((data) => data.json())
					.then(({ result }) => {
						setResult(result);
						setSelectedColumn(Object.keys(result.list[0] || {})[0]);
					});
			}, []);

			React.useEffect(() => {
				const plotContainer = document.getElementById('plot-container');

				if (selectedColumn) {
					fetch('/api/get_column_data', {
						method: 'POST',
						headers: {
							'content-type': 'application/json'
						},
						body: JSON.stringify({
							viewing_file: filename,
							column_header: selectedColumn
						})
					})
						.then((response) => response.json())
						.then((data) => {
							if (data.errorMsg) {
								alert(data.errorMsg);
								return;
							}

							const trace = {
								x: data.result.index,
								y: data.result.values,
								mode: 'lines+markers',
								type: 'scatter'
							};

							const layout = {
								title: `Data for Column ${selectedColumn}`,
								xaxis: { title: 'Index' },
								yaxis: { title: 'Value' }
							};

							Plotly.newPlot(plotContainer, [trace], layout);
						})
						.catch((error) => console.error('Error:', error));
				}

				return () => {
					plotContainer && Plotly.purge(plotContainer);
				};
			}, [selectedColumn]);

			return (
				<div className="w-full">

					<div className="relative mt-4 min-h-[450px]">
						<antd.Select
							placeholder="请选择"
							className="w-[200px] absolute top-[26px] left-0 z-[1000]"
							value={selectedColumn}
							onChange={setSelectedColumn}
							options={columns.map(({ key }) => ({
								label: key,
								value: key
							}))}
						/>
						<div id="plot-container"></div>
					</div>
					<antd.Table
							className="w-full mt-4"
							loading={loading}
							bordered
							columns={columns || []}
							dataSource={result.list || []}
							scroll={scroll}
							pagination={pagination}
					/>

				</div>
			);
		};
		const ViewCases = () => {
			const [loading, setLoading] = React.useState(false);
			const [result, setResult] = React.useState({list: [], total: 0});
			const [open, setOpen] = React.useState(false);
			const [isModalOpen, setIsModalOpen] = React.useState(false);
			const [rowData, setRowData] = React.useState({});
			const [fileList, setFileList] = React.useState([]);
			const [predictData, setPredictData] = React.useState({
				diagnosis: '',
				risk: ''
			});
			const [isUploading, setIsUploading] = React.useState(false);
			const [form] = antd.Form.useForm();
			const fileType = antd.Form.useWatch('fileType', form);

			const labelCol = { span: 4 };
			const valueStyle1 = { color: '#3f8600' };
			const valueStyle2 = { color: '#cf1322' };
			const pagination = {
				current: 1,
				pageSize: result.total,
				total: result.total,
				position: ['none', 'none']
			};
			const uploadProps = {
				fileList,
				accept: fileType,
				maxCount: 1,
				onRemove: (file) => {
					const index = fileList.indexOf(file);
					const newFileList = fileList.slice();
					newFileList.splice(index, 1);
					setFileList(newFileList);
				},
				beforeUpload: (file) => {
					setFileList([...fileList, file]);
					return false; // 禁止自动上传
				},
				onDrop(e) {
					console.log('Dropped files', e.dataTransfer.files);
				}
			};
			const initialValues = { fileType: '.csv' };

			const showModal = () => {
				setIsModalOpen(true);
			};

			const handleOk = () => {
				setIsModalOpen(false);
				form.resetFields();
				setFileList([]);
			};

			const handleCancel = () => {
				setIsModalOpen(false);
				form.resetFields();
				setFileList([]);
			};

			const showDrawer = () => {
				setOpen(true);
			};

			const onClose = () => {
				setOpen(false);
				setRowData({});
			};

			const handleQuery = async (values) => {
				try {
					setLoading(true);
					const res = await fetch('/api/query_cases', {
						method: 'POST',
						headers: {
							'content-type': 'application/json'
						},
						body: JSON.stringify(values || {})
					});

					if (res.ok) {
						const { success, result, errorMsg } = await res.json();
						if (success && result) {
							setResult(result);

							return result;
						}
						antd.message.error(errorMsg);
						return null;
					}
				} catch (error) {
					antd.message.error(error.toString());
				} finally {
					setLoading(false);
				}

				return null;
			};

			const handleUpload = async () => {
				try {
					setIsUploading(true);
					await form.validateFields();
					if (fileList.length === 0) {
						antd.message.error(
							`Please upload a ${fileType} file and continue`
						);

						return;
					}

					const { name, age, gender, fileType } =
						form.getFieldsValue();
					const formData = new FormData();
					formData.append('name', name);
					formData.append('age', age);
					formData.append('gender', gender);
					formData.append('case-file', fileList[0]);

					const res = await fetch(
						fileType === '.csv'
							? '/api/upload_case'
							: '/api/fmri_image_upload',
						{
							method: 'POST',
							body: formData
						}
					);

					if (res.ok) {
						const {
							result: caseId,
							success,
							errorMsg
						} = await res.json();
						if (!success) {
							antd.message.error(errorMsg);

							return;
						}
						const { destroy } = antd.Modal.confirm({
							title: 'Upload successful',
							content: `${fileList[0].name}File uploaded successfully, Do you want to view detail now？`,
							onOk: async () => {
								handleOk();
								destroy();

								const result = await handleQuery();
								if (result) {
									const newData = result.list.find(
										(item) => +item.caseId === +caseId
									);
									setRowData(newData);
									setPredictData({
										diagnosis: newData.diagnosis,
										risk: newData.risk
									});
									showDrawer();
								}
							},
							onCancel: () => {
								handleOk();
								destroy();
							}
						});
					}
				} catch (error) {
					console.log(error);
				} finally {
					setIsUploading(false);
				}
			};

			React.useEffect(() => {
				handleQuery();
			}, []);

			return (
				<div>
					<div className="flex justify-between mb-4">
						<antd.Form
							name="basic"
							layout="inline"
							onFinish={handleQuery}
							autoComplete="off"
						>
							<antd.Form.Item label="Case Id" name="caseId">
								<antd.Input placeholder="Please Enter Case Id" />
							</antd.Form.Item>
							<antd.Form.Item label="Name" name="name">
								<antd.Input placeholder="Please Enter Name" />
							</antd.Form.Item>
							<antd.Form.Item>
								<antd.Button type="primary" htmlType="submit">
									Query
								</antd.Button>
							</antd.Form.Item>
						</antd.Form>
						<antd.Button onClick={showModal}>Upload</antd.Button>
					</div>
					<antd.Table
						rowKey="caseId"
						loading={loading}
						bordered
						columns={[
							{
								title: 'Case Id',
								dataIndex: 'caseId',
								key: 'caseId'
							},
							{
								title: 'Age',
								dataIndex: 'age',
								key: 'age'
							},
							{
								title: 'Gender',
								dataIndex: 'gender',
								key: 'gender'
							},
							{
								title: 'Name',
								dataIndex: 'name',
								key: 'name'
							},
							{
								title: 'Fmri Image',
								dataIndex: 'fmri.image',
								key: 'fmriImage',
								render: (v) => (v === null ? '--' : v)
							},
							{
								title: 'File',
								dataIndex: 'file',
								key: 'file'
							},
							{
								title: 'Upload Date',
								dataIndex: 'uploadDate',
								key: 'uploadDate'
							},
							{
								title: 'Diagnosis',
								dataIndex: 'diagnosis',
								key: 'diagnosis'
							},
							{
								title: 'Risk',
								dataIndex: 'risk',
								key: 'risk'
							},
							{
								title: 'Doctor',
								dataIndex: 'doctor',
								key: 'doctor'
							},
							{
								title: 'Operation',
								key: 'operation',
								render: (_, record) => (
									<div>
										<antd.Button
											type="link"
											size="small"
											onClick={async () => {
												setRowData(record);
												setPredictData({
													diagnosis: record.diagnosis,
													risk: record.risk
												});
												showDrawer();
											}}
										>
											view
										</antd.Button>
										<antd.Popconfirm
											title="Are you sure to delete this record?"
											onConfirm={async () => {
												try {
													const res = await fetch(
														'/delete_case',
														{
															method: 'POST',
															headers: {
																'content-type':
																	'application/json'
															},
															body: JSON.stringify(
																{
																	case_id:
																		record.caseId
																}
															)
														}
													);

													if (res.ok) {
														const { success } =
															await res.json();

														if (success) {
															handleQuery();
														}
													}
												} catch (error) {
													antd.message.error(
														error.toString()
													);
												}
											}}
											okText="Yes"
											cancelText="No"
										>
											<antd.Button
												type="link"
												size="small"
												danger
											>
												delete
											</antd.Button>
										</antd.Popconfirm>
									</div>
								)
							}
						]}
						dataSource={result.list}
						pagination={pagination}
					/>
					<antd.Drawer
						title="View detail"
						placement="right"
						width="70vw"
						onClose={onClose}
						open={open}
					>
						<div className="space-y-8">
							<div>
								<div className="flex gap-x-2 font-bold text-lg">
									<div className="w-[3px] h-6 bg-[#1890ff] mt-0.5" />
									<div>Info</div>
								</div>
								<antd.Descriptions
									className="mt-4"
									bordered
									column={4}
									size="small"
								>
									<antd.Descriptions.Item label="Case Id">
										{rowData.caseId}
									</antd.Descriptions.Item>
									<antd.Descriptions.Item label="Age">
										{rowData.age}
									</antd.Descriptions.Item>
									<antd.Descriptions.Item label="Gender">
										{rowData.gender}
									</antd.Descriptions.Item>
									<antd.Descriptions.Item label="Name">
										{rowData.name}
									</antd.Descriptions.Item>
									<antd.Descriptions.Item
										label="Fmri Image"
										span={2}
									>
										{rowData['fmri.image']}
									</antd.Descriptions.Item>
									<antd.Descriptions.Item
										label="File"
										span={2}
									>
										{rowData.file}
									</antd.Descriptions.Item>
								</antd.Descriptions>
							</div>
							<div>
								<div className="flex gap-x-2 font-bold text-lg items-center">
									<div className="w-[3px] h-6 bg-[#1890ff] mt-0.5" />
									<div>Predict</div>
									<antd.Tooltip title="Re-predict">
										<antd.Button
											type="text"
											icon={
												<i
													class="fa fa-refresh"
													aria-hidden="true"
												></i>
											}
											onClick={async () => {
												try {
													const res = await fetch(
														'/predict',
														{
															method: 'POST',
															headers: {
																'content-type':
																	'application/json'
															},
															body: JSON.stringify(
																{
																	viewing_file:
																		rowData.file
																}
															)
														}
													);

													if (res.ok) {
														const { result } =
															await res.json();
														const {
															diagnosis,
															risk
														} = result;
														setPredictData({
															diagnosis,
															risk
														});
														antd.message.success(
															'Predicted！'
														);
													}
												} catch (error) {
													antd.message.error(
														error.toString()
													);
												}
											}}
										/>
									</antd.Tooltip>
								</div>
								<div className="flex mt-2">
									<antd.Statistic
										title="Diagnosis"
										value={predictData.diagnosis}
										valueStyle={
											predictData.diagnosis === 'Normal'
												? valueStyle1
												: valueStyle2
										}
										className="flex-1"
									/>
									<antd.Statistic
										title="Risk"
										value={predictData.risk}
										precision={2}
										valueStyle={
											predictData.diagnosis === 'Normal'
												? valueStyle1
												: valueStyle2
										}
										className="flex-1"
									/>
								</div>
							</div>
							{rowData['fmri.image'] ? (
								<div>
									<div className="flex gap-x-2 font-bold text-lg">
										<div className="w-[3px] h-6 bg-[#1890ff] mt-0.5" />
										<div>Image Data</div>
									</div>
									<ImageData
										imageName={rowData['fmri.image']}
									/>
								</div>
							) : null}
							<div>
								<div className="flex gap-x-2 font-bold text-lg">
									<div className="w-[3px] h-6 bg-[#1890ff] mt-0.5" />
									<div>CSV Data</div>
								</div>
								<CsvData
									key={rowData.caseId}
									filename={rowData.file}
								/>
							</div>

						</div>
					</antd.Drawer>
					<antd.Modal
						title="Upload File"
						forceRender
						destroyOnClose
						maskClosable={false}
						open={isModalOpen}
						onOk={handleUpload}
						onCancel={handleCancel}
					>
						<antd.Form
							name="upload"
							form={form}
							autoComplete="off"
							labelCol={labelCol}
							initialValues={initialValues}
						>
							<antd.Form.Item
								label="Age"
								name="age"
								rules={[{ required: true }]}
							>
								<antd.Input placeholder="Please enter age" />
							</antd.Form.Item>
							<antd.Form.Item
								label="Name"
								name="name"
								rules={[{ required: true }]}
							>
								<antd.Input placeholder="Please enter name" />
							</antd.Form.Item>
							<antd.Form.Item
								label="Gender"
								name="gender"
								rules={[{ required: true }]}
							>
								<antd.Input placeholder="Please enter gender" />
							</antd.Form.Item>
							<antd.Form.Item
								label="File Type"
								name="fileType"
								required
							>
								<antd.Select
									placeholder="Please select file type"
									options={[
										{ label: 'Fmri.CSV', value: '.csv' },
										{ label: 'Fmri.Image', value: '.gz' }
									]}
								/>
							</antd.Form.Item>
							<antd.Form.Item label="File">
								<antd.Upload.Dragger {...uploadProps}>
									<p className="">
										<i
											className="fa fa-cloud-upload text-3xl"
											aria-hidden="true"
										></i>
									</p>
									<p className="ant-upload-text">
										Click or drag file ({fileType}) to this
										area to upload
									</p>
								</antd.Upload.Dragger>
							</antd.Form.Item>
						</antd.Form>
						{isUploading ? (
							<div className="absolute top-0 bottom-0 left-0 right-0 bg-[rgba(255,255,255,0.6)] z-[1000] flex flex-col items-center justify-center">
								<antd.Spin />
								<div className="mt-2">
									Uploading, please do not close the window
								</div>
							</div>
						) : null}
					</antd.Modal>
				</div>
			);
		};
const Feedback = () => {
  const [loading, setLoading] = React.useState(false);
  const [result, setResult] = React.useState({ list: [], total: 0 });
  const [isModalOpen, setIsModalOpen] = React.useState(false);
  const [form] = antd.Form.useForm();

  const pagination = {
    current: 1,
    pageSize: 10,
    total: result.total,
  };

  const showModal = () => {
    setIsModalOpen(true);
  };

  const handleOk = () => {
    setIsModalOpen(false);
    form.resetFields();
  };

  const handleCancel = () => {
    setIsModalOpen(false);
    form.resetFields();
  };

  const handleQuery = async (values) => {
    try {
      setLoading(true);
      const res = await fetch('/api/query_feed', {
        method: 'POST',
        headers: {
          'content-type': 'application/json'
        },
        body: JSON.stringify(values || {})
      });

      if (res.ok) {
        const { success, result, errorMsg } = await res.json();
        if (success && result) {
          setResult(result);
          return result;
        }
        antd.message.error(errorMsg);
      }
    } catch (error) {
      antd.message.error(error.toString());
    } finally {
      setLoading(false);
    }
    return null;
  };

  const handleUpload = async () => {
    try {
      await form.validateFields();
      const { caseId, feedback } = form.getFieldsValue();
      const formData = new FormData();
      formData.append('caseId', caseId);
      formData.append('feedback', feedback);

      const res = await fetch('/api/upload_feedback', {
        method: 'POST',
        body: formData
      });

      if (res.ok) {
        const { success, errorMsg } = await res.json();
        if (success) {
          antd.message.success('Thank you for your feedback. We will reply to you via email within one to three working days');
          handleQuery(); // 刷新查询结果
        } else {
          antd.message.error(errorMsg);
        }
      }
    } catch (error) {
      antd.message.error(error.toString());
    } finally {
      setIsModalOpen(false);
    }
  };

  React.useEffect(() => {
    handleQuery();
  }, []);

  return (
    <div>
      <div className="flex justify-between mb-4">
        <antd.Form
          name="basic"
          layout="inline"
          onFinish={handleQuery}
          autoComplete="off"
        >
          <antd.Form.Item label="Case Id" name="caseId">
            <antd.Input placeholder="Please Enter Case Id" />
          </antd.Form.Item>
          <antd.Form.Item>
            <antd.Button type="primary" htmlType="submit">
              Query
            </antd.Button>
          </antd.Form.Item>
        </antd.Form>
        <antd.Button onClick={showModal}>Upload</antd.Button>
      </div>
      <antd.Table
        loading={loading}
        bordered
        columns={[
          {
            title: 'Case Id',
            dataIndex: 'caseId',
            key: 'caseId'
          },
          {
            title: 'Feedback',
            dataIndex: 'feedback',
            key: 'feedback'
          },
        ]}
        dataSource={result.list}
        pagination={pagination}
      />
      <antd.Modal
        title="Upload Feedback"
        open={isModalOpen}
        onOk={handleUpload}
        onCancel={handleCancel}
      >
        <antd.Form
          name="upload"
          form={form}
          autoComplete="off"
        >
          <antd.Form.Item
            label="CaseId"
            name="caseId"
            rules={[{ required: true, message: 'Please enter CaseId' }]}
          >
            <antd.Input placeholder="Please enter CaseId" />
          </antd.Form.Item>
          <antd.Form.Item
            label="Feedback"
            name="feedback"
            rules={[{ required: true, message: 'Please enter Feedback' }]}
          >
            <antd.Input.TextArea placeholder="Please enter Feedback" />
          </antd.Form.Item>
        </antd.Form>
      </antd.Modal>
    </div>
  );
};



	</script>
	<script type="text/babel">
		const username = "{{ session['username'] }}";
		function getItem(label, key, icon, children, type) {
			return {
				key,
				icon,
				children,
				label,
				type
			};
		}
		const App = () => {
			const [currentKey, setCurrentKey] = React.useState('welcome');
			const getRenderContent = () => {
				switch (currentKey) {
					case 'welcome':
						return <Welcome />;
					case 'view_cases':
						return <ViewCases />;
					case 'feedback':
						return <Feedback />;
				}
			};

			const onClick = async (e) => {
				if (e.key === 'logout') {
					try {
						const res = await fetch('/logout', { method: 'POST' });
						if (res.ok) {
							const { success } = await res.json();
							if (success) {
								window.location.replace('/');
							}
						}
					} catch (error) {
						antd.message.error(error.toString());
					}
				} else {
					setCurrentKey(e.key);
				}
			};

			return (
				<div className="flex h-full">
					<aside className="flex flex-col h-full w-[256px]">
						<div className="bg-[#001529] text-white py-6 text-2xl font-bold text-center">
							Welcome, {username}
						</div>
						<antd.Menu
							onClick={onClick}
							className="flex-1 text-base"
							mode="inline"
							theme="dark"
							defaultSelectedKeys={[currentKey]}
							items={[
								getItem('Case Management', 'view_cases', null),
								getItem('Feedback', 'feedback', null),
								getItem('Logout', 'logout', null)
							]}
						/>
					</aside>
					<main className="flex-1 p-4">{getRenderContent()}</main>
				</div>
			);
		};
		ReactDOM.render(
			<App />,
			document.querySelector('#doctor_dashboard_root')
		);
	</script>
</html>
