<!-- templates/doctor_dashboard.html -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Doctor Dashboard</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<script
			crossorigin
			src="https://unpkg.com/react@17/umd/react.development.js"
		></script>
		<script
			crossorigin
			src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"
		></script>
		<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/antd/4.24.16/antd.min.css"
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/antd/4.24.16/antd.min.js"
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<link
			rel="stylesheet"
			href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css"
		/>
		<script src="/static/assets/js/plotly-latest.min.js"></script>
		<style>
			html,
			body {
				margin: 0;
				padding: 0;
				background: #fafafa;
			}

			html {
				width: 100vw;
				height: 100vh;
			}

			#doctor_dashboard_root {
				height: 100%;
			}
		</style>
	</head>
	<body>
		<div id="doctor_dashboard_root"></div>
	</body>
	<script type="text/babel">
		const UploadCase = () => {
			return <div>upload_case</div>;
		};
	</script>
	<script type="text/babel">
		const FmriImageUpload = () => {
			return <div>fmri_image_upload</div>;
		};
	</script>
	<script type="text/babel">
		const CsvData = ({ filename }) => {
			const [loading, setLoading] = React.useState(false);
			const [result, setResult] = React.useState({ list: [], total: 0 });
			const [selectedColumn, setSelectedColumn] = React.useState('');
			const columns =
				Object.keys(result.list[0] || {}).map((key) => ({
					title: key,
					dataIndex: key,
					width: 150,
					key
				})) || [];
			const scroll = { x: columns.length * 150, y: 300 };
			const pagination = {
				current: 1,
				pageSize: 10,
				total: result.total,
				position: ['none', 'none']
			};

			React.useEffect(() => {
				fetch('/api/query_csv_data', {
					method: 'POST',
					headers: {
						'content-type': 'application/json'
					},
					body: JSON.stringify({ filename })
				})
					.then((data) => data.json())
					.then(({ result }) => {
						setResult(result);
						setSelectedColumn(Object.keys(result.list[0] || {})[0]);
					});
			}, []);

			React.useEffect(() => {
				const plotContainer = document.getElementById('plot-container');

				if (selectedColumn) {
					fetch('/api/get_column_data', {
						method: 'POST',
						headers: {
							'content-type': 'application/json'
						},
						body: JSON.stringify({
							viewing_file: filename,
							column_header: selectedColumn
						})
					})
						.then((response) => response.json())
						.then((data) => {
							if (data.errorMsg) {
								alert(data.errorMsg);
								return;
							}

							const trace = {
								x: data.result.index,
								y: data.result.values,
								mode: 'lines+markers',
								type: 'scatter'
							};

							const layout = {
								title: `Data for Column ${selectedColumn}`,
								xaxis: { title: 'Index' },
								yaxis: { title: 'Value' }
							};

							Plotly.newPlot(plotContainer, [trace], layout);
						})
						.catch((error) => console.error('Error:', error));
				}

				return () => {
					plotContainer && Plotly.purge(plotContainer);
				};
			}, [selectedColumn]);

			return (
				<div className="w-full">
					<antd.Table
						className="w-full mt-4"
						loading={loading}
						bordered
						columns={columns || []}
						dataSource={result.list || []}
						scroll={scroll}
						pagination={pagination}
					/>
					<div className="relative mt-4">
						<antd.Select
							placeholder="请选择"
							className="w-[200px] absolute top-[26px] left-0 z-[1000]"
							value={selectedColumn}
							onChange={setSelectedColumn}
							options={columns.map(({ key }) => ({
								label: key,
								value: key
							}))}
						/>
						<div id="plot-container"></div>
					</div>
				</div>
			);
		};
		const ViewCases = () => {
			const [loading, setLoading] = React.useState(false);
			const [result, setResult] = React.useState({ list: [], total: 0 });
			const [open, setOpen] = React.useState(false);
			const [rowData, setRowData] = React.useState({});
			const valueStyle1 = { color: '#3f8600' };
			const valueStyle2 = { color: '#cf1322' };
			const pagination = {
				current: 1,
				pageSize: 10,
				total: result.total
			};
			const showDrawer = () => {
				setOpen(true);
			};

			const onClose = () => {
				setOpen(false);
				setRowData({});
			};

			const onFinish = async (values) => {
				try {
					setLoading(true);
					const res = await fetch('/api/query_cases', {
						method: 'POST',
						headers: {
							'content-type': 'application/json'
						},
						body: JSON.stringify(values || {})
					});

					if (res.ok) {
						const { success, result, errorMsg } = await res.json();
						if (success && result) {
							setResult(result);
						} else {
							antd.message.error(errorMsg);
						}
					}
				} catch (error) {
					antd.message.error(error.toString());
				} finally {
					setLoading(false);
				}
			};

			const onFinishFailed = (errorInfo) => {
				console.log('Failed:', errorInfo);
			};

			return (
				<div>
					<antd.Form
						className="mb-4"
						name="basic"
						layout="inline"
						onFinish={onFinish}
						onFinishFailed={onFinishFailed}
						autoComplete="off"
					>
						<antd.Form.Item label="Case Id" name="caseId">
							<antd.Input placeholder="请输入Case Id" />
						</antd.Form.Item>
						<antd.Form.Item label="Name" name="name">
							<antd.Input placeholder="请输入患者姓名" />
						</antd.Form.Item>
						<antd.Form.Item>
							<antd.Button type="primary" htmlType="submit">
								Submit
							</antd.Button>
						</antd.Form.Item>
					</antd.Form>
					<antd.Table
						rowKey="caseId"
						loading={loading}
						bordered
						columns={[
							{
								title: 'Case Id',
								dataIndex: 'caseId',
								key: 'caseId',
								render: (text) => <a>{text}</a>
							},
							{
								title: 'Age',
								dataIndex: 'age',
								key: 'age'
							},
							{
								title: 'Gender',
								dataIndex: 'gender',
								key: 'gender'
							},
							{
								title: 'Name',
								dataIndex: 'name',
								key: 'name'
							},
							{
								title: 'Fmri Image',
								dataIndex: 'fmriImage',
								key: 'fmriImage'
							},
							{
								title: 'File',
								dataIndex: 'file',
								key: 'file'
							},
							{
								title: 'Upload Date',
								dataIndex: 'uploadDate',
								key: 'uploadDate'
							},
							{
								title: 'Diagnosis',
								dataIndex: 'diagnosis',
								key: 'diagnosis'
							},
							{
								title: 'Risk',
								dataIndex: 'risk',
								key: 'risk'
							},
							{
								title: 'Doctor',
								dataIndex: 'doctor',
								key: 'doctor'
							},
							{
								title: 'Operation',
								key: 'operation',
								render: (_, record) => (
									<div>
										<antd.Button
											type="link"
											size="small"
											onClick={async () => {
												setRowData(record);
												showDrawer();
											}}
										>
											view
										</antd.Button>
										<antd.Button
											type="link"
											size="small"
											danger
										>
											delete
										</antd.Button>
									</div>
								)
							}
						]}
						dataSource={result.list}
						pagination={pagination}
					/>
					<antd.Drawer
						title="View detail"
						placement="right"
						width="70vw"
						onClose={onClose}
						open={open}
					>
						<div className="space-y-8">
							<div>
								<div className="flex gap-x-2 font-bold text-lg">
									<div className="w-[3px] h-6 bg-[#1890ff] mt-0.5" />
									<div>Info</div>
								</div>
								<antd.Descriptions
									className="mt-4"
									bordered
									column={4}
									size="small"
								>
									<antd.Descriptions.Item label="Case Id">
										{rowData.caseId}
									</antd.Descriptions.Item>
									<antd.Descriptions.Item label="Age">
										{rowData.age}
									</antd.Descriptions.Item>
									<antd.Descriptions.Item label="Gender">
										{rowData.gender}
									</antd.Descriptions.Item>
									<antd.Descriptions.Item label="Name">
										{rowData.name}
									</antd.Descriptions.Item>
									<antd.Descriptions.Item
										label="Fmri Image"
										span={2}
									>
										{rowData.fmriImage}
									</antd.Descriptions.Item>
									<antd.Descriptions.Item
										label="File"
										span={2}
									>
										{rowData.file}
									</antd.Descriptions.Item>
								</antd.Descriptions>
							</div>
							<div>
								<div className="flex gap-x-2 font-bold text-lg">
									<div className="w-[3px] h-6 bg-[#1890ff] mt-0.5" />
									<div>Predict</div>
								</div>
								<div className="flex mt-2">
									<antd.Statistic
										title="Diagnosis"
										value={rowData.diagnosis}
										valueStyle={valueStyle1}
										className="flex-1"
									/>
									<antd.Statistic
										title="Risk"
										value={rowData.risk}
										precision={2}
										valueStyle={valueStyle2}
										suffix="%"
										className="flex-1"
									/>
								</div>
							</div>
							<div>
								<div className="flex gap-x-2 font-bold text-lg">
									<div className="w-[3px] h-6 bg-[#1890ff] mt-0.5" />
									<div>CSV Data</div>
								</div>
								<CsvData
									key={rowData.caseId}
									filename={rowData.file}
								/>
							</div>
							<div>
								<div className="flex gap-x-2 font-bold text-lg">
									<div className="w-[3px] h-6 bg-[#1890ff] mt-0.5" />
									<div>Image Data</div>
								</div>
								<div className="flex mt-2"></div>
							</div>
						</div>
					</antd.Drawer>
				</div>
			);
		};
	</script>
	<script type="text/babel">
		const username = "{{ session['username'] }}";
		function getItem(label, key, icon, children, type) {
			return {
				key,
				icon,
				children,
				label,
				type
			};
		}
		const App = () => {
			const [currentKey, setCurrentKey] = React.useState(
				window.location.hash.slice(1) || 'upload_case'
			);
			const getRenderContent = () => {
				switch (currentKey) {
					case 'upload_case':
						return <UploadCase />;
					case 'fmri_image_upload':
						return <FmriImageUpload />;
					case 'view_cases':
						return <ViewCases />;
				}
			};

			const onClick = (e) => {
				window.location.hash = e.key;
				setCurrentKey(e.key);
			};

			return (
				<div className="flex h-full">
					<aside className="flex flex-col h-full w-[256px] relative">
						<div className="bg-[#001529] text-white py-6 text-2xl font-bold text-center">
							Welcome, {username}
						</div>
						<antd.Menu
							onClick={onClick}
							className="flex-1 text-base"
							mode="inline"
							theme="dark"
							defaultSelectedKeys={[currentKey]}
							items={[
								getItem('Upload Fmri Csv', 'upload_case', null),
								getItem(
									'Upload Fmri Image',
									'fmri_image_upload',
									null
								),
								getItem('Case Management', 'view_cases', null)
							]}
						/>
						<antd.Button
							className="absolute bottom-2 left-2 text-white hover:text-gray-400"
							type="text"
							icon={<i class="fa fa-sign-out mr-1"></i>}
							onClick={() => {
								window.location.href = '/';
							}}
						>
							Log out
						</antd.Button>
					</aside>
					<main className="flex-1 p-4">{getRenderContent()}</main>
				</div>
			);
		};
		ReactDOM.render(
			<App />,
			document.querySelector('#doctor_dashboard_root')
		);
	</script>
</html>
